/* name: Samuel Schneider
 * email: Schneisa@oregonstate.edu
 */

 header {
   background-color: black;
   width: auto;
   height: 150px;
 }

 header .site-title {
   position: relative;
   bottom: 160px;
   left: 175px;
   font-size: 75px;
 }

 h1.site-title a {
   text-decoration: none;
   font-family: "Roboto slab";
   font-weight: normal;
   color: white;
 }

main{
  display: flex;
}
.filter-container {
  background-color: lightblue;
  height: 345px;
  width: 220px;
  padding: 10px;
  margin: 5px;
}

h2 {
  margin: 0px;
}

.filter-input-container{
  margin: 15px 0px;
}

.filter-input-container .filter-input-element{
  display: inline;
  width: 100px;
}

.filter-input-container .filter-input-element #filter-min-price {
  width: 73px;
}

.filter-input-container .filter-input-element #filter-max-price {
  width: 73px;
}

.filter-input-container .filter-input-element #filter-city {
  width: 162px;
}

#filter-update-button{
  background-color: black;
  color: white;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  height: 40px;
  width: 197px;
  border-radius: 8px;
  font-family: "Roboto"
}

#filter-update-button:hover{
  color:black;
  background-color: #ffd9b3;
}
